@use '../abstracts/variables' as *;


.about-page{
    width: 100%;
    padding: 5rem 15%;

    &__our-story{
        // margin-bottom: 5rem;
        & h2{
            margin-bottom: 5.5rem;
            color: $secondary-color;
            font-size: 60px;
            line-height: 57px;

            & span{
                color: $primary-color;
                position: relative;

                &::before{
                    content: url("/src/assets/images/about-page-header-decoration.png");
                    position: absolute;
                    bottom: -40px;
                    right: 0;
                }
            }
        }
        & p{
            font-size: 18px;
            line-height: 31px;
            margin-bottom: 30px;
            color: $secondary-color;
        }
    }
    &__video {
        max-width: 70%;
        margin: 3rem auto 0;
        position: relative;
        overflow: hidden;
        border: 1.2rem solid $white-color;
        // border-radius: 20px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

        margin-bottom: 6rem;

        video {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }
    &__counter{
        color: $secondary-color;
        margin-bottom: 5rem;

        & p{
            font-style: italic;
            font-size: 36px;
            line-height: 57px;
            text-align: center;
            margin-bottom: 70px;

            & span{
                color: $primary-color;
            }
        }
        &__list{
            padding: 0 5%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // gap: 10rem;

            &__column{
                width: 100%;
                border-right: 1px solid #dcdcdc;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                & h2{
                    color: $primary-color;
                    font-size: 40px;
                }
                & p{
                    font-size: 30px !important;
                    font-weight: 300;
                    margin-bottom: 0 !important;
                }
                &:last-child {
                    border-right: 0;
                }
            }
 
        }
    }
    &__our-team{
        width: 100%;
        &__header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
            & h2 {
                color: $secondary-color;
                position: relative;
                font-size: 36px;
                line-height: 27px;
                padding-left: 90px;
                padding-right: 90px;
                font-weight: 700;

                &:before,
                &:after {
                    content: "";
                    width: 70px;
                    height: 2px;
                    background-color: #abd373;
                    position: absolute;
                    top: 50%;
                }

                &:before {
                    left: 0;
                }

                &:after {
                    right: 0;
                }
            }
            & p{
                color: $secondary-color;
                text-align: center;
                line-height: 31px;
                color: black;
                margin-bottom: 55px;
                max-width: 580px;
            }
        }
        &__content{
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__card{
                &__image{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    
                    &__hover-content{
                        border-left: 1px solid #dee2e6;
                        border-right: 1px solid #dee2e6;
                        border-bottom: 1px solid #dee2e6;
                        background-color: #ffffff;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 135px;
                        text-align: center;
                        padding-top: 25px;
                        border-end-end-radius: 125px;
                        border-end-start-radius: 125px;
                        opacity: 0;
                        visibility: hidden;
                        -webkit-transition: all 0.3s ease 0s;
                        -o-transition: all 0.3s ease 0s;
                        transition: all 0.3s ease 0s;

                        & h2{
                            color: $secondary-color;
                            font-size: 18px;
                            line-height: 24px;
                        }
                        & p{
                            color: $secondary-color;
                            font-size: 14px;
                        }

                        &__links{
                            display: flex;
                            justify-content: center;
                            padding-top: 30px;
                            & ul{
                                margin: 0;
                                padding: 0;
                                list-style: none;
                                display: flex;
                                gap: 1rem;

                                & li{
                                    background-color: $white-color;
                                    border: 1px solid $primary-color;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    line-height: 40px;
                                    text-align: center;
                                    font-size: 15px;
                                    transition: all 0.2s;
                                    cursor: pointer;

                                    & a{
                                        color: $primary-color;
                                        transition: color 0.2s;
                                    }
                                    &:hover{
                                        background-color: $primary-color;
                                        border-color: $primary-color;
                                        & a{
                                            color: $white-color;
                                        }
                                    }

                                    &:nth-child(2){
                                        transform: translateY(10px);
                                    }
                                }
                            }
                        }
                    }

                }
                &__content{
                    padding-top: 25px;
                    text-align: center;
                    & p{
                        color: $secondary-color;
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 500;
                    }
                }
                &:nth-child(2n-1){
                    padding-top: 4rem;
                }
                
                &:hover &__image__hover-content {
                    opacity: 1;
                    visibility: visible;
                  }
                  
            }
        }
    }
}