$primary-color: #abd373;
$secondary-color: #393939;

$navigation-border-color: #dee2e6;
$star-colors: #ffd000;

$white-color: #ffffff;
$black-color: #000000;
$gray-color: #8b8b8b;
$light-gray-color: #c7c7c7;
$red-color: #FF0000;
$yellow-color: #ffc400;